<!-- <div class="navbar bg-dark" >
   
            <div class="container-fluid">
                <a  class="navbar-brand" style="color: white;font-size: 23px;"> E-commerce Website</a>
                <button routerLink="/" class="btn btn-warning">BACK</button>
            </div>
        </div> -->
   
<div class="container"  [dir]="'dir' | translate">
    <div class="row product-detail" >
        <div class="col-sm-3" >

                        <img routerLink="/product-detail" [src]="imgUrl + product?.data?.image" class="cart-img img-fluid" style="width: 150%; height: 150px;">
                  
                    </div>
                
<div class="col-sm-8   beb" >
    <div >
        <h2>{{product?.data?.name}} </h2>
        
        <strong>Platform:      {{product?.data?.platform?.name}}</strong><br>
        <strong>Region:        {{product?.data?.region?.name}}</strong><br>
       
       
    </div>
</div>
</div>
</div>
<div class="cartbox" [dir]="'dir' | translate">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th style="width:25%;">Quantity</th>
                <th>Totle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of product?.data?.products; let index = index">
                <td><img [src]="imgUrl + product?.data?.image" alt=""style="width: 100%; height: 100px;">  </td>
                <td style="vertical-align: middle; ">{{item.name}}</td>
                <td style="vertical-align: middle; ">{{item.price}} L.E</td>
                <td style="vertical-align: middle; ">
                  <!--  <div class="quantity">
               <button class="btn btn-dark" (click)="addAmount(index)">+</button>
                        <input class="form-control" type="number" (click)="detectChange()"  min="1">
                        <button class="btn btn-dark" (click)="minsAmount(index)">-</button>
                        <button class="btn btn-dark" (click)="quantity('max')">+</button>
                        <input class="inputbox" text="number" value="{{productquantity}}">
                        <button class="btn btn-dark" (click)="quantity('min')">-</button>
                    </div>
                   <div class="quantity">
                        <button class="btn btn-dark" (click)="addAmount(index)">+</button>
                        <input   class="form-control" type="number" (click)="detectChange()" [(ngModel)]="item.quantity" min="1">
                        <button class="btn btn-dark" (click)="minsAmount(index)">-</button>
                    </div>
                </td>
                <td style="vertical-align: middle; ">{{item.price * item.quantity}} L.E</td>-->
                    <div class="quantity">
                        <button class="btn btn-dark" (click)="addAmount(index)">+</button>
                        <input   class="form-control" type="number" (click)="detectChange()" [(ngModel)]="item.quantity "  min="1">
                        <button class="btn btn-dark" (click)="minsAmount(index)">-</button>
                    </div>
                </td>
                <td style="vertical-align: middle; ">{{item.price * item.quantity}} L.E</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th> <button class="btn btn-primary">Buy Now</button>&nbsp;</th>
                <th><button (click)="addtocart(product)" *ngIf="showadd && product" class="btn btn-success">Add to cart</button></th>
                <th><button (click)="removeitem(product)" *ngIf="showremove && product" class="btn btn-info">Remove Item</button></th>
                <th>Total : {{total}}</th>
        
            </tr>
        </tfoot>
    </table>
    <div>
        <strong>Description</strong><br>
        <p>{{product?.data?.platform?.description}}</p>
    </div>
</div>
