<app-header >
</app-header>
<router-outlet ></router-outlet>

<!--<app-body>
    [collapsed] = "isSideNavCollapsed"
    [screenWidth] = "screenWidth"
</app-body>

<div class="container-fuid">
    <section class="row">
       
      
             <app-sidenav class="col-2">(onToggleSideNav)="onToggleSideNav($event)" </app-sidenav>
            <app-home class="col-10"></app-home>
        <app-productlist class="col-10"></app-productlist>
    
        <div >
           
    
        </div>
        
    </section>
    
    </div>-->