.ss {
    margin-left: 82px;
    margin-right: 82px;
    padding-top: 10px;
  }
  .form-check-label {
    margin-left: 10px; 
    padding-right: 10px;/* يمكنك ضبط هذا القيمة حسب المسافة التي ترغب فيها */
  }
  .reset{
    margin: 10px;
  }