<div class="container"  [dir]="'dir' | translate" >
    <div class="row ss">
        <div  >


                        <ng-container *ngIf="category?.data?.[0]?.banner">
                            <img routerLink="/product-detail" [src]="imgUrl + category?.data?.[0]?.banner" class="cart-img img-fluid" style="width: 100%; height: 150px;">
                          </ng-container>
                          <ng-container *ngIf="!category?.data?.[0]?.banner">
                            <h1>{{category?.data?.[0]?.name }}</h1>
                          </ng-container>
                    </div>
                
<div  >
    <div >
    
        <button routerLink="/" type="submit"  class="btn btn-success mt-2" style="height: 35px;"> <h5>{{'Home' | translate}}</h5></button>&nbsp;
        <button  type="submit"  class="btn btn-success mt-2"style="height: 35px;"> <h5>{{'Product' | translate}}</h5></button>&nbsp;

        <button  type="submit"  class="btn btn-success mt-2"style="height: 35px;"> <h5>{{category?.data?.[0]?.name }} </h5></button>&nbsp;

        
    </div>
</div>
</div>
</div>
<div class="container"  [dir]="'dir' | translate">
    <div class="row ss"  >
        <div class="col-sm-4" style="background-color: rgb(252, 248, 249); height: 1100px;" >
            <h3>Region</h3>
            <div class="form-check"*ngFor="let r of region">
               
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  {{r.catalogCount}}
                </label>
                <label class="form-check-label" for="flexCheckChecked" >
                    {{r.name | translate}}
                  </label>
              </div>
              <div class="reset">
                <button  type="submit"  class="btn btn-success mt-2" style="height: 30px;"> <h6>Reset </h6></button>&nbsp;
                <button  type="submit"  class="btn btn-success mt-2" style="height: 30px;"> <h6>Submit</h6></button>&nbsp;
              </div>
              <h3>Platform</h3>
              <div class="form-check"*ngFor="let p of platform">
                 
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    {{p.catalogCount}}
                  </label>
                  <label class="form-check-label" for="flexCheckChecked" >
                    {{p.name }}
                    </label>
                </div>
                <div class="reset">
                    <button  type="submit"  class="btn btn-success mt-2" style="height: 30px;"> <h6>Reset </h6></button>&nbsp;
                    <button  type="submit"  class="btn btn-success mt-2" style="height: 30px;"> <h6>Submit</h6></button>&nbsp;
                  </div>      
                    </div>
                
<div class="col-sm-8" >
    <div class="container"   >
        <div class="row"style="background-color: rgb(252, 248, 249);">
            <div class="col-md-4 col-lg-3 mt-2"  *ngFor="let item of products">
                <div class="cart mt-2">
                    <div class="cart-body">
                        <div class="cart-img-action">
                            <img routerLink="/product-detail/{{item.id}}" [src]="imgUrl + item.image" class="cart-img img-fluid">
                        </div>
                    </div>
                    <div class="cart-body bg-light text-center">
                        <div>
                            <h6 class="font-weight-semibold">
                                <a class="text-default" style="text-decoration: none;">{{item.name | translate}}</a>
                            </h6>
                        
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
    </div></div>