<!-- <div class="container-fluid" style="background-color: black;">
    <div class="row justify-content-center text-center">
        <div class="col-md-8 col-lg-6">
            <div class="header">
                <h3 style="color: white;font-size: 23px;">Popular E-commerce Products</h3>
            </div>
        </div>
    </div>
</div> -->
<div class="container-fluid"   >
    <div class="row"style="background-color: rgb(252, 248, 249);">
        <div class="col-md-2 col-lg-2 mt-2"  *ngFor="let item of products| filter:searchKey:'name'">
            <div class="cart mt-2">
                <div class="cart-body">
                    <div class="cart-img-action">
                        <img routerLink="/product-detail/{{item.id}}" [src]="imgUrl + item.image" class="cart-img img-fluid">
                    </div>
                </div>
                <div class="cart-body bg-light text-center">
                    <div>
                        <h6 class="font-weight-semibold">
                            <a class="text-default" style="text-decoration: none;">{{item.name}}</a>
                        </h6>
                    </div>

                    <button  (click)="addtofavor(item)" class="btn btn-sm btn-success mt-2"><i class="fal fa-heart  mr-2"></i>&nbsp;</button>&nbsp;
                    
                    <!--<button (click)="removeitem(item)" class="btn btn-sm btn-danger mt-2"><i class="fa fa-remove  mr-2"></i>&nbsp;Remove Item</button>-->
                </div>
            </div>
        </div>
    </div>
</div>

 
<div class="row" style="background-color: rgb(252, 248, 249);">
    <div class="menu-container"*ngFor="let o of category" style="width: 290px; height: 290px; background-image: url('{{imgUrl + o.image}}');">
      <div class="menu-text" style="text-align: center; color: white;" *ngFor="let o of category">
        <h2 routerLink="/category-detail/{{o.id}}"style="padding-left: 30px;">{{o.name}}</h2>
        <ul style="text-align: center; list-style-type: none; color: white;"*ngFor="let b of o.sub" >
          <li  routerLink="/category-detail/{{b.id}}">{{b.name}}</li>
        </ul>
      </div>
    </div>
    <div style="width: 10px; " ></div> <!-- مسافة صغيرة -->
    <div class="menu-container"*ngFor="let o of category3" style="width: 290px; height: 290px; background-image: url('{{imgUrl + o.image}}');">
      <div class="menu-text" style="text-align: center; color: white;" *ngFor="let o of category3">
        <h2 routerLink="/category-detail/{{o.id}}" style="padding-left: 11px;">{{o.name}}</h2>
        <ul style="text-align: center; list-style-type: none; color: white;"*ngFor="let b of o.sub" >
          <li  routerLink="/category-detail/{{b.id}}">{{b.name}}</li>
        </ul>
      </div>
    </div>
    <div style="width: 10px;"></div> <!-- مسافة صغيرة -->
    <div class="menu-container"*ngFor="let o of category1" style="width: 290px; height: 290px; background-image: url('{{imgUrl + o.image}}');">
      <div class="menu-text" style="text-align: center; color: white;" *ngFor="let o of category1">
        <h2 routerLink="/category-detail/{{o.id}}" style="padding-left: 20px;">{{o.name}}</h2>
        <ul style="text-align: center; list-style-type: none; color: white;"*ngFor="let b of o.sub" >
          <li  routerLink="/category-detail/{{b.id}}">{{b.name}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row-2" style="background-color: rgb(252, 248, 249);">
        <div class="marquee-container" style="background-color: rgb(252, 248, 249);" >
            <div class="marquee" >
                <!--[ngStyle]="{'animation-duration': animationDuration}"-->
              <div *ngFor="let item of products">
                <div class="cart mt-2">
                    <div class="cart-body">
                        <div class="cart-img-action">
                            <img routerLink="/product-detail/{{item.id}}" [src]="imgUrl + item.image" style="width: 200px; height: 200px;">
                        </div>
                    </div>
                    <div class="cart-body bg-light text-center">
                        <div>
                            <h6 class="font-weight-semibold">
                                <a class="text-default" style="text-decoration: none;">{{item.name}}</a>
                            </h6>
                        </div>
    
                        
                        <!--<button (click)="removeitem(item)" class="btn btn-sm btn-danger mt-2"><i class="fa fa-remove  mr-2"></i>&nbsp;Remove Item</button>-->
                    </div>
                </div>
              </div>
            </div>
          </div> </div>
          <!--<button (click)="startMoving()">Start Moving</button>
          <button (click)="stopMoving()">Stop Moving</button>
       
        <div class="row" style="background-color: rgb(252, 248, 249);">
          <div style="display: flex; justify-content: space-between;">
            <div class="col-md-2 col-lg-2 mt-2" *ngFor="let item of products| filter:searchKey:'name'">
              <div class="cart mt-2">
                <div class="cart-body">
                  <div class="cart-img-action">
                    <img [routerLink]="'/product-detail/' + item.id" [src]="imgUrl + item.image" class="cart-img img-fluid">
                  </div>
                </div>
                <div class="cart-body bg-light text-center">
                  <div>
                    <h6 class="font-weight-semibold">
                      <a class="text-default" style="text-decoration: none;">{{item.name}}</a>
                    </h6>
                  </div>
                  <button (click)="addtofavor(item)" class="btn btn-sm btn-success mt-2"><i class="fal fa-heart  mr-2"></i>&nbsp;</button>&nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <button class="btn btn-primary" (click)="moveItems('left')">اليسار</button>
        <button class="btn btn-primary" (click)="moveItems('right')">اليمين</button> -->