.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.card {
  flex: 0 0 300px;
  height: 200px;
  margin: 0 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}


.animate-left {
  animation: slideLeft 0.5s ease-in-out;
}

.animate-right {
  animation: slideRight 0.5s ease-in-out;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.row-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 0px;
  padding-right: 0px;
  
}



.col-md-4,
.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0px;
  box-sizing: border-box;
}
.col-md-2,
.col-lg-2 {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .col-md-2,
  .col-lg-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.cart {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.cart-img {
  width: 100%;
  height: 130px; /* تعيين الارتفاع المطلوب هنا */
  object-fit: cover; /* تأكد من عدم تشوه الصورة */
}

h6 {
  text-decoration: none;
}

.font-weight-semibold {
  font-weight: 600;
}

.btn {
  margin-top: 0px;
}
 

.menu-text {
 
  margin-left: 0px;
  padding-top: 50px;
  padding-right: 40px;

}
.ss {

  margin-left: 80px;
  margin-right: 80px
  
}


.product {
  padding: 20px 0;
}
.slider-wrap {
  position: relative;
  overflow: hidden;
  height: 200px;
}
.slider-main {
  position: absolute;
  width: 200%;
 
}
.item{
  display: inline-block;
  width: 125px;
  height: 140px;

  position: relative;
  margin: 0 5px;
}
.prev{
  position: absolute;
  left: 33px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.next{
  position: absolute;
  right: -19px;
  top: 7%;
  transform: translate(-50%, -50%);
}
.container{ 

  padding-bottom: 10px;
  
  

}